<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8">
</head>

<body>
    <section class="home">
    <h1>Passengers</h1>

    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Latitude</th>
          <th>Longitude</th>
        </tr>
      </thead>

      <tbody>
        <% for(var i=0; i < passenger.length; i++) { %>
        <tr>
          <td><%= passenger[i].username %></td>
          <td><%= passenger[i].lat %></td>
          <td><%= passenger[i].lng %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    </section>
</body>

</html>
