<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8">
</head>

<body>
    <section class="home">
    <h1>Passengers</h1>
    <table>
        <% for(let [username, lat, lng] of passenger.entries() || []){  %>
         Username : <%=username%>
         Lat : <%=lat%>
         Lng : <%=lng%>
        <%} %>
    </section>
</body>

</html>
